<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User new</title>
</head>
<body>
    <h1>Change User form</h1>
    
    <%= form_with model: @user do |form| %>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>

        <div>
            <%= form.label :username, "Your user name: " %>
            <%= form.text_field :username, default: "YourUniqName" %> <br />
            <%= form.label :email, "E-mail: " %>
            <%= form.email_field :email, placeholder: "example@example.com" %> <br />
            <%= form.label :password, "Password: " %>
            <%= form.password_field :password %> <br />
            <%= form.submit "Update" %>
    <% end %>

 <!--   
    <%= form_tag("/users", method: "post") do %>
        <div>
            <%= label_tag(:username, 'User name')%>
            <%= text_field_tag(:username)%>
        </div>
        <div>
            <%= label_tag(:email, 'E-mail') %>
            <%= email_field_tag(:email) %>
        </div>
        <div>
            <%= label_tag(:password, "Password") %>
            <%= password_field_tag(:password) %>
        </div>
    <% end %>
-->
 <!--   
    <form action="/users" accept-charset="UTF-8" method="POST" data-turbo="false">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" placeholder="Your name">
        <br>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" placeholder="you@example.ru">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Submit This Form">
    </form>
-->
</body>
</html>
